.user{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 3px 4px 19px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 3px 4px 19px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 3px 4px 19px 0px rgba(0, 0, 0, 0.42);
}